
@{
    ViewData["Title"] = "Index";

}
@model IEnumerable<GetAgencyVM>
<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>See What Our Agency <em>Offers</em> &amp; What We <span>Provide</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var data in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <a href="#">
                        <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="hidden-content">
                                <h4>@data.Name</h4>
                                <p>@data.Description</p>
                            </div>
                            <div class="showed-content">
                                <img src="@data.Image" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</div>
